.container-fluid
{
    font-family: 'Courier New', Courier, monospace;
    background: #ff00ff;
}
.headers
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    border: 5px solid #000;
}

.col
{
   min-height: 250px; 
   background: #00ffff;
}

.row
{
    column-count: 3;
}

#showText
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width:200px; 
    margin: 0px;
    float:left;
}

#totalPrice
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width:200px; 
    max-height:190px; 
    margin:0px 0px 0px 50px; 
    float: left;
}

.footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}